h1 {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: black;
    color: white;
}

div, h1 {
    text-align: center;
}

img {
    width: 500px;
    height: auto;
}