h1 {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: black;
    color: white;
}

div, h1, h2 {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

.icon {
    width: 100px;
    height: auto;
}

img {
    width: 500px;
    height: auto;
}